.navbar {
    display: flex;
    margin: 15px;
    border-bottom: 2px solid #f5eeee;
    .welcome {
        display: flex;
        flex-grow: 1;
        gap: 10px;

        .logo {
            border-radius: 50%;
            object-fit: cover;
            width: 60px;
            height: 60px;
        }
        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .links {
        flex-grow: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        a {
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            &:visited {
                color: inherit;
            }
        }
        li {
            list-style: none;
        }
        #log-out {
            width: 150px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align: center;
            border: none;
            background-size: 300% 100%;

            border-radius: 50px;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;

            background-image: linear-gradient(
                to right,
                #25aae1,
                #40e495,
                #30dd8a,
                #2bb673
            );
            box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
            &:hover {
                background-position: 100% 0;
                -o-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            &:focus {
                outline: none;
            }
        }
    }
}
