@use "main";
@use "navbar";

#search-form {
    display: flex;
    margin: 10px 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    background: #d9e4e4;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0.25rem 0.25rem 0rem #bbcfcf;

    input {
        margin: 0 10px 0 10px;
        width: 100%;
        border: none;
        outline: none;
        background: #d9e4e4;
        font-size: 1.5rem;
    }
    button {
        border: none;
        background: #d9e4e4;
        font-size: 1.5rem;
    }
}

#wrapper-of-all-cards {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 615px);
    justify-content: center;

    .wrapper-movie-card {
        display: flex;
        gap: 10px;
        margin: 20px;
        border: 5px solid #d9e4e4;
        border-radius: 20px;
        box-shadow: 0.25rem 0.25rem 0rem #bbcfcf;

        .image-container {
            padding: 5px;
            align-self: center;
            img {
                max-width: 300px;
                height: 350px;
                object-fit: contain;
                border-radius: 10px;
            }
        }
        .details-container {
            padding: 5px;
            h1 {
                width: 280px;
                margin-top: 0;
                margin-bottom: 0;
            }
            p {
                width: 280px;
                text-align: justify;
                font-weight: bold;
            }

            .btn-card {
                width: 125px;
                margin: 5px;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                height: 40px;
                text-align: center;
                border: none;
                background-size: 300% 100%;

                border-radius: 50px;
                -o-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;

                background-image: linear-gradient(
                    to right,
                    #0ba360,
                    #3cba92,
                    #30dd8a,
                    #2bb673
                );
                box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
                &:hover {
                    background-position: 100% 0;
                    -o-transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
